<% const { title } = header %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include( 'head' ) %>
    <title><%= title %></title>
  </head>
  <body>

    <%- include( 'header', header ) %>

    <h1> <%= title %> </h1>

    <main>
      <% for ( const article of articles ) { %> 
        <%- include('../components/article', { article }) %> 
      <% } %> 
    </main>
  </body>
</html>
