<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1> 
      <%= title %>
    </h1>
    <main>
      <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="<%= form.title.name %>"><%= form.title.label %></label>
        <input id="<%= form.title.name %>" name="<%= form.title.name %>" placeholder="<%= form.title.placeholder %>" type="<%= form.title.type %>">

        <label for="<%= form.file.name %>"><%= form.file.label %></label>
        <input id="<%= form.file.name %>" name="<%= form.file.name %>" accept="<%= form.file.accept %>" placeholder="<%= form.file.placeholder %>" type="<%= form.file.type %>">

        <input type="<%= form.send.type %>" value="<%= form.send.value %>">
      </form>
    </main>
  </body>
</html>
