<% const { 
  
  slug, 
  title, 
  author,
  version 

} = article %>

<article 
  class="block"
  aria-labelledby="<%= slug %>"
>

  <h3 id="<%= slug %>">
    <a
      title="<%= title %>"
      href="<%= slug %>"
    >
      <%= title %>
    </a>
  </h3>

  <p><em><%= author %></em></p>
  <p>Version <%= version %></p>
  
</article>
