<section id="meta">
  <h5>Metadata</h5>
  <table>
    <tbody>
      <tr>
        <td>
          Created
        </td>
        <td>
          <time datetime="<%= createdAt %>">
            <%= createdAt %>
          </time>
        </td>
      </tr>
      <tr>
        <td>
          Published
        </td>
        <td>
          <time datetime="<%= publishedAt %>">
            <%= publishedAt %>
          </time>
        </td>
      </tr>
      <tr>
        <td>
          Updated
        </td>
        <td>
          <time datetime="<%= updatedAt %>">
            <%= updatedAt %>
          </time>
        </td>
      </tr>
    </tbody>
  </table>
</section>
